<h3> Create Residential Group</h3>
<br/>
<%= form_tag new_group_path, :method => 'POST' do %>
        <%= text_field_tag 'gpr', nil, placeholder:'Name of Residential Group, size: 50 %>
        <%= submit_tag 'Create Group' %>
    <% end %>
    
    <br/><br
             
    
