<!-- Charges Index Page -->
<h4>Balance Placeholder: $0.00</h4>
<br>
<h4>Recent Transactiosn Placeholder</h4>

<ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Create Payment", new_charge_path %></li>
    
    
    <li><%= link_to "Payment History", root_path %></li>
    <li><%= link_to "Payment Settings", root_path %></li>
</ul>
